*{
	padding: 0;
	margin: 0;
}

.layer {
    background: url(Images/constructionsite.jpg) no-repeat;
    background-size: 1400px 380px;
    height: 100vh;
	
}

.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

.logo {
    width: 50px;
    height: auto;
    padding: 20px 100px;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto' sans-serif;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: rgb(196, 167, 39);
    border-radius: 2px
}

.layer .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1 {
	color: white;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center p {
	color: black;
	font-size: 20px;
	font-weight: bold;
	width: 1080px;
	text-align: left;
	margin-left: -200px;
	margin-top: 150px;
}
.center .heading {
	color: black;
	font-size: 20px;
	font-weight: bold;
	width: 1080px;
	text-align: left;
	margin-left: -200px;
	margin-top: 10px;
}

.layer .images {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}

.images .plumbing {
		
}